/* For the first black line */
.firstLine{
  background: black;
  border: 1px;
  padding: 5px;
  color: white;
  text-align: center ;
}

/* For the second line with tabs */
.secondLine{
  backgroung: white;
  border: 1px;
  padding: 5px;
}

/* For the large red box */
.largeRedBox{
  background-color: rgb(231, 76, 60);
  border: 1px;
  padding: 10px;
  text-align: center ;
}

/* For columns */
.column {
    float: left;
    width: 20%;
    padding: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}

/* For Basic blue box */
.blueBox{
  border-radius: 10px;
    background: #2980B9;
    padding: 20px;
    width: 200px;
    height: 130px;
  }
  .bluebox{
  background: #85C1E9;
  padding: 0px;
  text-align: center;
}

/* For All Access navy box */
.navyBox{
  border-radius: 10px;
  background: #1A237E;
  padding: 20px;
  width: 200px;
  height: 130px;
}
.navybox{
  background: #0277BD;
  padding: 0px;
  text-align: center;
}

/* For All Access + Print black box */
.blackBox{
  border-radius: 10px;
  background: #212121;
  padding: 20px;
  width: 200px;
  height: 130px;
}
.blackbox{
  background: #757575;
  padding: 0px;
  text-align: center ;
}

/* For indentation */
.indent{
  text-indent: 20%;
}

/* For colunms */
.column1 {
    float: left;
    width: 25%;
    padding: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:600px) {
    .column1 {
        width: 100%;
    }
}

/* For five grey boxes */
.greyBox{
  background: #D0D3D4 ;
  padding: 20px;
  width: 280px;
  height: 150px;
}

/* For indentation */
.indent1{
  text-indent: 25%;
}

.smallbluebox{
  background: #0277BD;
  padding: 1px;
  width: 100px;
  height: 30px;
  text-align: justify ;
}
/* For the last black columns */
.column2 {
    background-color: black;
    float: left;
    width: 25%;
    padding: 0px;
    height: 250px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* For red BONUS box */
span.a {
    display: inline;
    width: 100px;
    height: 100px;
    padding: 2px;
    background-color: red;
}
